.question-card {
    background-color: gray;
    border-radius: 16px;
    color: white;
    padding: 16px;
    height: auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    min-width: 80%;
}

.multiple-box {
    list-style: none;
}
.multiple-choice{
background-color: darkgray;
padding: 16px;
border: 3px solid white;
border-radius: 20px;
font-size: 20px;
margin-top: 8px;
}
.selected-multiple-choice{
    background-color: darkgray;
    padding: 16px;
    border: 3px solid greenyellow;
    border-radius: 20px;
    font-size: 20px;
    margin-top: 8px;
}
.question-txt{
font-size:x-large;
max-height: 300px;
overflow: scroll;
margin-top: 10px;
}
.question-field{
    max-height: 10%;
    width: 100%;
    margin:auto;
    display: flex;
    overflow: scroll;
}
.question-index{
    margin: auto;
    font:bold;
}
.next-button-field{
    float:right;
    width: 20%;
}
.previous-button{
    float:left;
    width: 20%;
}
.question-tab{
    display: flex;
    width: 80%;
}
.navigattion-tab{
    background-color: gray;
    border-radius: 16px;
    color: white;
    padding-right: 16px;
    min-height: 10%;
    height: fit-content;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    min-width: 20%;
    margin-left: 20px;
    padding-left: 10px;
    padding: auto;
}
.navigation-question-box{
   margin-left: 5px;
   min-width: 30px;
   max-width: fit-content;
   max-height: fit-content;
   min-height: 30px;
}
.top-question-box{
    min-width: 30px;
    height: 15px;
    background-color: blue;
    position: relative;
}
.box-text {
    position: absolute;
    padding-left: 5px;
    bottom: 10;
    color: white;
    font-size: 11px;
  }
 .bottom-question-box {
    width: fit-content;
    height: fit-content;
    background-color: aliceblue;
 }
 .bottom-question-box-choosen-correct{
    width: 30px;
    height: 24px;
    background-color: green;
 }
 .bottom-question-box-choosen{
    width: 30px;
    height: 24px;
    background-color: green;
 }
 .bottom-question-box{
    width: 30px;
    height: 24px;
    background-color: white;
 }

 .ans-box-field{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
}